<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup>
  <appSettings>
    <add key="rv.service" value="23119" />
    <add key="rv.network" value=";239.11.19.99" />
    <add key="rv.daemon" value="tcp:7500" />
    <add key="rv.factory" value="P2" />
    <add key="rv.environment" value="REAL" />
    <add key="rv.sendSystem" value="DOTNET" />
    <add key="rv.sender" value="" />
  </appSettings>
</configuration>
